    <a id="post-link" href="/post/{{id}}">
<div class="post">
  <div id="post-title">
      <span style="color:rgb(123, 118, 228)">{{title}}</span>
    {{user.username}}

    {{format_date created_at}}<br/>
  </div>
  <div>
    <p class="post-text">{{post_text}}</p>
  </div>
  <div class="comments">
    {{comments.length}}
    {{format_plural "comment" comments.length}}
  </div>
</div>
  </a>