<div class="post">
  <div class="title">
    <a href="/post/{{id}}">
      {{title}}</a>
    {{user.username}}

    {{format_date created_at}}<br />
  </div>
  <div class="content">
    <p class="post-text">{{post_text}}</p>
  </div>
  <div class="comments">
    {{comments.length}}
    {{format_plural "comment" comments.length}}
  </div>
</div>